<%= form_for(@artist) do |form| %>
  <div class="text-center"><%= render partial: "partials/error", locals: { target: @artist } %></div>

<br>
  <div class="form-name-padding text-center">
    <%= form.label :name %>
  </div>

  <div class="text-center">
      <%= form.text_field :name %>
  </div>

  <div class="form-name-padding text-center">
    <%= form.label :image_path %>
  </div>

  <div class="text-center">
    <%= form.text_field :image_path %>
  </div>

<br><br>

  <div class="text-center">
    <%= form.submit %>
  </div>
  <% end  %>
